<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://ncidemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ncidemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$ncidemo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DemoApplication.Models.ExchangeDb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:s20poqb27p.database.windows.net,1433;Initial Catalog=ncidemoAWDqiyrdD;User ID=askehill@s20poqb27p;Password=subVers10n" Name="Data Source=tcp:s20poqb27p.database.windows.net,1433;Initial Catalog=ncidemoAWDqiyrdD;User Id=askehill@s20poqb27p;Password=subVers10n" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DemoApplication.Models.ExchangeDb, DemoApplication" MigrationConfiguration="DemoApplication.Migrations.Configuration, DemoApplication" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:s20poqb27p.database.windows.net,1433;Initial Catalog=ncidemoAWDqiyrdD;User ID=askehill@s20poqb27p;Password=subVers10n" Name="Data Source=tcp:s20poqb27p.database.windows.net,1433;Initial Catalog=ncidemoAWDqiyrdD;User Id=askehill@s20poqb27p;Password=subVers10n" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-DemoApplication-20120620201222;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-DemoApplication-20120620201222;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s20poqb27p.database.windows.net,1433;Initial Catalog=ncidemoAWDqiyrdD;User Id=askehill@s20poqb27p;Password=subVers10n</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DemoApplication.Models.ExchangeDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s20poqb27p.database.windows.net,1433;Initial Catalog=ncidemoAWDqiyrdD;User Id=askehill@s20poqb27p;Password=subVers10n</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DemoApplication.Models.ExchangeDb" />
  </ItemGroup>
</Project>