@{
    ViewBag.Title = "Toronto Electoral Reports";
}



@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}    

(@Html.ActionLink("TESTREPORT", "Index", "Reports"))


<h2> Welcome to the Toronto Electoral Database.</h2>
<p>To view all data, use the links along the top menu.</p>
<p>Alternatively build a custom report using the form below.</p>
