
@{
    ViewBag.Title = "Home Page";
}



@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            blah
            </p>
        </div>
    </section>
}    

<p>Here is where we add the forms to allow users to select their filters for a report</p>

<img src="../../Images/south-park-blame-canada.jpg" />


